openapi: 3.0.2
info:
  title: Public Transit API v8
  description: |
    Public Transit is a set of three REST APIs that provides public transit
    routing information and public transit stations information available within
    an area or for a given station.
  termsOfService: https://legal.here.com/en-gb/terms
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  version: 8.0.1
servers:
  - url: https://transit.hereapi.com/v8
    description: "All Public Transit services, namely Routing, Next Departures, and\
    \ Station Search."
security:
  - Bearer: [ ]
  - ApiKey: [ ]
paths:
  /routes:
    get:
      tags:
        - Routing
      summary: Routes
      description: |
        Lists public transit routes.
        The service supports several use cases as follows:

          * define routes based on arrival or departure times.
          * filter specific transit modes, such as rail and metro only.
          * plan routes hours or days in advance.
          * set a maximum distance for the walk to the nearest transit stop/station or the speed of the walk.
          * define how many changes or transfers the journey may include.
          * request turn-by-turn navigation.
          * request route polyline in order to view the route over a map.
      operationId: getRoutes
      parameters:
        - name: origin
          in: query
          description: |+
            Trip origin WGS-84 compliant coordinates.
            
            Format: `{lat},{lng}[;placeName={name}]`
            
            The optional `placeName` parameter can be used to customize
              the name of the origin place and will affect the generated actions descriptions.

          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/LocationString'
        - name: destination
          in: query
          description: |+
            Trip destination WGS-84 compliant coordinates.
            
            Format: `{lat},{lng}[;placeName={name}]`
            
            The optional `placeName` parameter can be used to customize the
              name of the destination place and will affect the generated actions descriptions.

          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/LocationString'
        - name: lang
          in: query
          description: |
            Specifies the list of preferred languages of the response.
            The first supported language from the list will be used for the response.
            The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            default:
              - en-US
          example:
            - zh-tw
            - en-gb
            - en-us
        - name: units
          in: query
          description: |
            Units of measurement used, for example, in guidance instructions. The default is `metric`.
            
            If `imperial` units are requested and the requested language is `en-US`, then
            United States customary units (miles and feet) will be used.
            If `imperial` units are requested and a language other than `en-US` is requested then
            imperial (miles and yards) units will be used.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Units'
        - name: departureTime
          in: query
          description: |
            Specifies the time of departure as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
            The requested time is converted to the local time at origin. When the optional timezone offset is
            not specified, time is assumed to be local. If neither `departureTime` or `arrivalTime` are specified, current time at departure location will be used.
            All `Time` values in the response are returned in the timezone of each location.
          required: false
          style: form
          explode: true
          allowReserved: true
          schema:
            $ref: '#/components/schemas/Time'
        - name: arrivalTime
          in: query
          description: |
            Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).
            The requested time is converted to the local time at destination. When the optional timezone offset is
            not specified, time is assumed to be local.
            All `Time` values in the response are returned in the timezone of each location.
            
            Note : The following features do not support the arrivalTime parameter:
            * EV Routing
            * Route Handle
            * Route Import
          required: false
          style: form
          explode: true
          allowReserved: true
          schema:
            $ref: '#/components/schemas/Time'
        - name: alternatives
          in: query
          description: |
            Number of alternative routes to return aside from the optimal route. By default, `alternatives=0` is assumed and only one optimal route is returned. In cases where also a pedestrian route is available it will be also returned. This may lead to two routes being returned in total (one transit route and one pedestrian route) even though only one is expected when `alternatives=0` is given.
          required: false
          style: form
          explode: true
          schema:
            maximum: 5
            minimum: 0
            type: integer
            default: 0
        - name: changes
          in: query
          description: |
            Maximum number of changes or transfers allowed in a route. Unlimited number of changes is permitted when not set.
          required: false
          style: form
          explode: true
          schema:
            maximum: 6
            minimum: 0
            type: integer
        - name: modes
          in: query
          description: |
            Transit mode filter used to determine which modes of transit to include in the response.
            By default, all supported transit modes are permitted.
            
            Supported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`
            `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`
            `flight`
            
            This parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.
            Mixing of inclusive and exclusive transit modes is not allowed.
            
            examples:
              * `subway,bus`. Returns only subways and busses.
              * `-subway,-bus`. Returns all modes except subways and busses.
          required: false
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/TransitModesFilter'
        - name: "pedestrian[speed]"
          in: query
          description: |
            Walking speed in meters per second. Influences the duration of walking segments from origin to a station, from a station to destination and in-between the stations (e.g. if transfer is needed).
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/PedestrianSpeed'
        - name: "pedestrian[maxDistance]"
          in: query
          description: Maximum allowed walking distance in meters (e.g. when looking
            for nearest stations).
          required: false
          style: form
          explode: true
          schema:
            maximum: 6000
            minimum: 0
            type: integer
            default: 2000
        - name: accessibility
          in: query
          description: |
            Defines accessibility requirements for routes.
            
             * `wheelchair` - Select only wheelchair accessible vehicles and stations.
          required: false
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - wheelchair
        - name: return
          in: query
          description: "Defines which section attributes are included.\n\n * `intermediate`\
          \ - List of intermediate stops within a section of the route. If\n   enabled,\
          \ the response includes `intermediateStops` attribute. Each intermediate\
          \ stop includes\n   stop/station names, WGS-84 geocoordinates, and the departure\
          \ times at the stops.\n * `fares` - List of fares/tickets to cover a section\
          \ of the route.\n\n   **NOTE**: Fares information support will be available\
          \ soon.\n * `polyline` - Polyline for the route in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md)\n\
          \   Encoding.\n * `actions` - Actions (such as maneuvers or tasks) that\
          \ must be taken to complete the section.\n * `travelSummary` - Include summary\
          \ for the travel portion of the section.\n * `incidents` - Include a list\
          \ of all incidents applicable to each section.\n * `bookingLinks` - Include\
          \ a list of links to book a ride for a section of the route.\n * `nextDepartures`\
          \ - Return the next departures for the transit section.\n * `sourceFeedMapping`\
          \ - Include a list of source feed data that matches the data of the section.\n\
          \ * `serviceTimes` - Include service times for the transit section.\n  \
          \  \n    **NOTE:** serviceTimes is an experimental feature and may not return\
          \ accurate results for all routes.\n"
          required: false
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - intermediate
                - fares
                - polyline
                - actions
                - travelSummary
                - incidents
                - bookingLinks
                - nextDepartures
                - sourceFeedMapping
                - serviceTimes
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API response in case of success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitRouteResponse'
        "400":
          description: API response in case of bad request.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/400errorResponseExample'
        "401":
          description: API response in case of unauthorized access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/401errorResponseExample'
        "403":
          description: API response in case of forbidden access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/403errorResponseExample'
        "500":
          description: API response in case of internal server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/500errorResponseExample'
        "502":
          description: API response in case of bad gateway.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/502errorResponseExample'
        "503":
          description: API response in case of service unavailable.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/503errorResponseExample'
        "504":
          description: API response in case of gateway timeout.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/504errorResponseExample'
      servers:
        - url: https://transit.router.hereapi.com/v8
          description: Public Transit Routing service only.
        - url: https://transit.hereapi.com/v8
          description: "All Public Transit services, namely Routing, Next Departures,\
          \ and Station Search."
  /departures:
    get:
      tags:
        - Next Departures
      summary: Departures
      description: |
        Lists public transit departures.
        Discovers subsequent departures using structured or topological queries.
        The service accepts two types of queries as shown in the table below:

        | Query | Parameter | Description |
        |-------|-----------|-------------|
        | Departures by IDs | `ids` | takes a comma-separated list of station/stop identifiers |
        | Departures by Location | `in` | takes a pair of coordinates to define the center and a radius to define the extent of a circular area where to search for departures |

        Select a query from `one of` the options above to visualize the request parameters.
      operationId: getDepartures
      parameters:
        - name: boardOptions
          in: query
          description: Board options
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/boardOptions'
        - name: time
          in: query
          description: |
            Specifies the time of earliest departure in `RFC 3339`, section 5.6 as defined by either `date-time` or `full-date` "T" `partial-time` (for example, `2019-06-24T01:23:45`).
            The requested time is converted to local time at each location. When the optional timezone offset is
            not specified, time is assumed to be local. If `time` is not specified, current time at departure place will be used.
            All `Time` values in the response are returned in the timezone of each location.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Time'
        - name: modes
          in: query
          description: |
            Transit mode filter used to determine which modes of transit to include in the response.
            By default, all supported transit modes are permitted.
            
            Supported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`
            `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`
            `flight`
            
            This parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.
            Mixing of inclusive and exclusive transit modes is not allowed.
            
            examples:
              * `subway,bus`. Returns only subways and busses.
              * `-subway,-bus`. Returns all modes except subways and busses.
          required: false
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/TransitModesFilter'
        - name: maxPerBoard
          in: query
          description: The maximum number of subsequent departures per station board
            the response is to include.
          required: false
          style: form
          explode: true
          schema:
            maximum: 50
            minimum: 1
            type: integer
            default: 5
        - name: maxPerTransport
          in: query
          description: |
            The maximum number of subsequent departures per transport returned in the response. A transport is identified by its name, direction and mode. When not set, all departures are returned, otherwise the first `maxPerTransport` departures for each transport in chronological order are returned.
          required: false
          style: form
          explode: true
          schema:
            maximum: 10
            minimum: 1
            type: integer
            nullable: true
        - name: sort
          in: query
          description: |
            Define how the departures are sorted. By default, the departures are returned sorted by scheduled time.
            When `sort=transport`, the departures are sorted first by transport and then by scheduled time.
            
            * `sort=time`: means sorted by time.
            * `sort=transport`: means that we sort by `name`, `headsign`, `mode` and `time` in this order.
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: time
            enum:
              - time
              - transport
        - name: timespan
          in: query
          description: |
            Limit the subsequent departures to the defined time window and starting from the time provided in the request. When not set, this filter is not applied and a maximum of 24 hours of departures can be returned. The filter will remove all departures outside the interval defined by time and time span.
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/timespan'
        - name: lang
          in: query
          description: |
            Specifies the list of preferred languages of the response.
            The first supported language from the list will be used for the response.
            The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            default:
              - en-US
          example:
            - zh-tw
            - en-gb
            - en-us
        - name: accessibility
          in: query
          description: |
            Defines accessibility requirements for routes.
            
             * `wheelchair` - Select only wheelchair accessible vehicles and stations.
          required: false
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - wheelchair
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API response in case of success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationBoardResponse'
        "400":
          description: API response in case of bad request.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/400errorResponseExample'
        "401":
          description: API response in case of unauthorized access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/401errorResponseExample'
        "403":
          description: API response in case of forbidden access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/403errorResponseExample'
        "500":
          description: API response in case of internal server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/500errorResponseExample'
        "502":
          description: API response in case of bad gateway.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/502errorResponseExample'
        "503":
          description: API response in case of service unavailable.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/503errorResponseExample'
        "504":
          description: API response in case of gateway timeout.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/504errorResponseExample'
  /stations:
    get:
      tags:
        - Station Search
      summary: Stations
      description: |
        Lists public transit stations.
        Discovers stations using structured or topological queries.
        The service accepts three types of queries as shown in the table below:

        | Query | Parameter | Description |
        |-------|-----------|-------------|
        | Stations by IDs | `ids` | Takes a comma-separated list of station/stop identifiers. |
        | Stations by location | `in` | Takes a pair of coordinates to define the center and a radius to define the extent of a circular area where to search for departures. |
        | Stations by name and location | `name` and `in` | Takes the station name or part of the name to search for. It is composed of one or more space-separated words and does not support stopwords. |

        Select a query from `one of` the options above to visualize the request parameters.
      operationId: getStations
      parameters:
        - name: stationOptions
          in: query
          description: Station filter
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/StationOptions'
        - name: accessibility
          in: query
          description: |
            Defines accessibility requirements for routes.
            
             * `wheelchair` - Select only wheelchair accessible vehicles and stations.
          required: false
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              enum:
                - wheelchair
        - name: return
          in: query
          description: |
            Defines which place attributes are included.
            
             * `transport` - List of transports.
             * `accessPoints` - List of access points.
          required: false
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/PlacesReturn'
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API response in case of success
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsInfoResponse'
        "400":
          description: API response in case of bad request.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/400errorResponseExample'
        "401":
          description: API response in case of unauthorized access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/401errorResponseExample'
        "403":
          description: API response in case of forbidden access.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthErrorResponseSchema'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/403errorResponseExample'
        "500":
          description: API response in case of internal server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/500errorResponseExample'
        "502":
          description: API response in case of bad gateway.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/502errorResponseExample'
        "503":
          description: API response in case of service unavailable.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/503errorResponseExample'
        "504":
          description: API response in case of gateway timeout.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/504errorResponseExample'
  /health:
    get:
      tags:
        - API Information
      summary: Health
      description: Returns the health status of the service
      operationId: getHealth
      parameters:
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API response in case of success.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponseOKSchema'
        default:
          description: API response in case of failure.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponseFailSchema'
            text/plain:
              schema:
                type: string
      security: [ ]
  /version:
    get:
      tags:
        - API Information
      summary: Version
      description: Returns the version of the service
      operationId: getVersion
      parameters:
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API response in case of success.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
              examples:
                versionResponseOkExample:
                  $ref: '#/components/examples/VersionResponseOkExample'
        "500":
          description: API response in case of internal server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/500errorResponseExample'
        "502":
          description: API response in case of bad gateway.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/502errorResponseExample'
        "503":
          description: API response in case of service unavailable.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/503errorResponseExample'
        "504":
          description: API response in case of gateway timeout.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/504errorResponseExample'
      security: [ ]
  /openapi:
    get:
      tags:
        - API Information
      summary: Retrieves this API specification in OpenAPI 3 format
      operationId: getOpenapi
      parameters:
        - name: X-Request-ID
          in: header
          description: User-provided token that can be used to trace a request or a
            group of requests sent to the service.
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: API specification in OpenAPI 3 format
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/x-yaml:
              schema:
                type: string
            text/x-yaml:
              schema:
                type: string
        "500":
          description: API response in case of internal server error.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/500errorResponseExample'
        "502":
          description: API response in case of bad gateway.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/502errorResponseExample'
        "503":
          description: API response in case of service unavailable.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/503errorResponseExample'
        "504":
          description: API response in case of gateway timeout.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                errorResponseExample:
                  $ref: '#/components/examples/504errorResponseExample'
components:
  schemas:
    AttributionLinkType:
      type: string
      description: |
        Attribution link type.

        * `disclaimer` - Page with further legal information from the agency.
        * `tariff` - Page with information on the tariff.
      enum:
        - disclaimer
        - tariff
    AuthErrorResponseSchema:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error
        error_description:
          type: string
          description: Human-readable error description
    BoardByIds:
      title: Query departures by IDs
      required:
        - ids
      type: object
      properties:
        ids:
          maxLength: 1000
          type: string
          description: |
            Specifies a comma separated list of station IDs. A maximum of 50 station identifiers are allowed in a single query
    ChargingConnectorType:
      type: string
      description: "Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo`\
        \ `tesla` `saeJ3400` `gbtDc` `unknown` `...`  \nCurrently supported connector\
        \ types are:\n* `iec62196Type1Combo`:  Type 1 Combo connector, commonly called\
        \ \"CCS1\"\n* `iec62196Type2Combo`:  Type 2 Combo connector, commonly called\
        \ \"CCS2\"\n* `chademo`: CHAdeMO connector\n* `tesla`: North American Charging\
        \ Standard (NACS) connector. This connector type is deprecated. Return value\
        \ used instead of `saeJ3400` when the user specifies the deprecated value\
        \ `tesla` in `ev[connectorTypes]`\n* `saeJ3400`: North American Charging System\
        \ (NACS) connector\n* `gbtDc`: GB/T Guobiao GB/T 20234.3 DC connector\n* `unknown`:\
        \ Connector type is not known, e.g., if station is provided by user in request\n"
      x-extensible-enum:
        - iec62196Type1Combo
        - iec62196Type2Combo
        - chademo
        - tesla
        - saeJ3400
        - gbtDc
        - unknown
    ChargingStationBrand:
      type: object
      properties:
        name:
          type: string
          description: Charging station brand name
        hrn:
          type: string
          description: |
            Charging station brand unique ID.
            If specified in `ev[preferredBrands]` parameter
            then it would apply preference to adding stations of the given brand.

            **NOTE:** As of now it is generated as a brand name hash.
      description: Information regarding the charging station brand
    ChargingSupplyType:
      type: string
      description: "Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently\
        \ possible values are:\n\n* `acSingle` : Single phase Alternating Current\
        \ supply\n* `acThree`: Three phase Alternating Current supply\n* `dc`: Direct\
        \ Current supply\n"
      x-extensible-enum:
        - acSingle
        - acThree
        - dc
    Color:
      pattern: "#[0-9A-Fa-f]{6}"
      type: string
      example: '#FF0000'
    DataVersion:
      required:
        - name
        - version
      type: object
      properties:
        name:
          type: string
          description: "Identifies a data set, for example, a HRN, or a service specific\
            \ identifier"
          example: optimized-map-for-routing
        version:
          type: string
          description: The current version of this data set
          example: 2022.346.5.48
      description: Version of a specific data set
    DepartureDelay:
      type: integer
      description: The accumulated delay in seconds from the scheduled time of the
        event.
    DeparturePlatform:
      type: string
      description: Platform name or number for the departure.
    DepartureStatus:
      type: string
      description: "Extensible enum: `scheduled` `cancelled` `additional` `replaced`\
        \ `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running\
        \ as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule\
        \ but was removed.\n* `additional`: An extra trip that was added in addition\
        \ to a running schedule, for example, to respond to sudden passenger load.\n\
        * `replaced`: A trip that was in the schedule but is removed and replaced\
        \ with `additional` trip, for example, to replace a broken vehicle or handle\
        \ detour.\n"
      default: scheduled
      x-extensible-enum:
        - scheduled
        - cancelled
        - additional
        - replaced
    Distance:
      minimum: 0
      type: integer
      description: Distance in meters.
      example: 189
    Duration:
      type: integer
      description: Duration in seconds.
      example: 198
    ErrorResponse:
      required:
        - action
        - cause
        - code
        - correlationId
        - status
        - title
      type: object
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: |
            Error code.

            All error codes start with "`E60`".
          example: E600101
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken
            to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that univocally identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      description: Response in case of error
    InCircle:
      pattern: "[-+]?\\d*\\.?\\d+,[-+]?\\d*\\.?\\d+(;r=\\d+)?"
      type: string
      description: |
        Specifies the center point and the optional radius of your search.
        Format `{lat},{lng}[;r={radius}]`, where `radius=500` meters by default.
      example: "24.5,16.8;r=500"
    Location:
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          description: Location of a point on the Earth north or south of the equator
            in decimal degrees.
          format: double
          example: 52.531677
        lng:
          type: number
          description: Location of a place on the Earth east or west of the prime
            meridian in decimal degrees.
          format: double
          example: 13.381777
      description: Location on the Earth
      example:
        lat: 52.531677
        lng: 13.381777
    LocationString:
      type: string
      example: "52.5251,13.3694"
    NoticeSeverity:
      type: string
      description: |
        Describes the impact a notice has on the resource to which the notice is attached.
        * critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.
        * info - The notice is for informative purposes, but does not affect usability of the route.
      enum:
        - critical
        - info
    ParkingLotPlaceType:
      type: string
      description: "Extensible enum: `parkAndRide` `...`  \nCurrently possible values\
        \ are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\"\
        ,\n  such as it is a parking specifically designed to allow transition between\
        \ car and transit.\n"
      x-extensible-enum:
        - parkAndRide
    PartialTime:
      pattern: "^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$"
      type: string
      description: "**RFC 3339**, section 5.6 as defined by `partial-time`."
      example: 08:30:00
    PedestrianSpeed:
      maximum: 2
      minimum: 0.5
      type: number
      description: Pedestrian speed in meters per second
      default: 1
    PlacesByIds:
      title: Query stations by IDs
      required:
        - ids
      type: object
      properties:
        ids:
          maxLength: 1000
          type: string
          description: |
            Specifies a comma separated list of station IDs. A maximum of 50 station identifiers are allowed in a single query
    PlacesReturn:
      type: array
      description: Enables transport information in the response.
      items:
        type: string
        enum:
          - transport
          - accessPoints
    Polyline:
      type: string
      description: "Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline)\
        \ format. Coordinates are in the WGS84 coordinate system, including `Elevation`\
        \ (if present)."
      example: A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e
    ServiceTimes:
      type: object
      properties:
        firstTrip:
          type: string
          description: First trip time in local time
          example: 2025-09-25T07:00:00Z
        lastTrip:
          type: string
          description: Last trip time in local time
          example: 2025-09-25T23:45:00Z
      description: |
        The first and last trip time for the transit route at the stop on a given day.
        Only present for the departure stop of a transit section.

        **NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.
    SourceFeedMapping:
      type: object
      properties:
        type:
          type: string
          description: "Extensible enum: `agencyId` `routeId` `tripId` `feedVersion`\
            \ `...`  \nType of source feed data.\n"
          example: tripId
          x-extensible-enum:
            - agencyId
            - routeId
            - tripId
            - feedVersion
        sourceValue:
          type: string
          description: Source value for the data defined in the `type`.
          example: 1234-567
      description: |
        Mapping of the internal data returned in the respone to the data from the source feed.
        A `type` will only be returned if the source feed data has a match.
        Each `type` might be returned more than once in the response as the source feed may have multiple matches.

        Currently possible values for `type` are:

        * `agencyId`: ID of the agency that provides the data which is defined in the source feed.
        * `routeId`: ID of the route that is provided in source feed.
        * `tripId`: ID of the trip that is provided in source feed.
        * `feedVersion`: Version of the feed that is defined in source feed.
    Time:
      type: string
      description: "**RFC 3339**, section 5.6 as defined by either `date-time` or\
        \ `date-only` 'T' `partial-time` (ie no time-offset)."
      format: date-time
    TimeRestrictedWeekdays:
      type: string
      enum:
        - mo
        - tu
        - we
        - th
        - fr
        - sa
        - su
    TransitIncidentEffect:
      type: string
      description: "Extensible enum: `cancelledService` `reducedService` `additionalService`\
        \ `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open\
        \ list of possible incident effects.\nNote: Since new types are expected to\
        \ appear, it is important to check for unknown types when parsing this value.\n"
      x-extensible-enum:
        - cancelledService
        - reducedService
        - additionalService
        - modifiedService
        - delays
        - detour
        - stopMoved
        - other
    TransitIncidentType:
      type: string
      description: "Extensible enum: `technicalProblem` `strike` `demonstration` `accident`\
        \ `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency`\
        \ `other` `...`  \nAn open list of possible incident causes / types.\nNote:\
        \ Since new types are expected to appear, it is important to check for unknown\
        \ types when parsing this value.\n"
      x-extensible-enum:
        - technicalProblem
        - strike
        - demonstration
        - accident
        - holiday
        - weather
        - maintenance
        - construction
        - policeActivity
        - medicalEmergency
        - other
    TransitModeExcluded:
      title: Excluded modes
      type: string
      description: "Extensible enum: `-highSpeedTrain` `-intercityTrain` `-interRegionalTrain`\
        \ `-regionalTrain` `-cityTrain` `-bus` `-ferry` `-subway` `-lightRail` `-privateBus`\
        \ `-inclined` `-aerial` `-busRapid` `-monorail` `-flight` `...`  \nTransit\
        \ mode to be excluded from the route\n"
      x-extensible-enum:
        - -highSpeedTrain
        - -intercityTrain
        - -interRegionalTrain
        - -regionalTrain
        - -cityTrain
        - -bus
        - -ferry
        - -subway
        - -lightRail
        - -privateBus
        - -inclined
        - -aerial
        - -busRapid
        - -monorail
        - -flight
    TransitStopAttributes:
      type: string
      description: "Extensible enum: `noEntry` `noExit` `...`  \nAttributes of a stop.\n\
        \n* `noEntry`: The transport cannot be entered at the stop.\n* `noExit`: The\
        \ transport cannot be exited at the stop.\n"
      example: noExit
      x-extensible-enum:
        - noEntry
        - noExit
    TurnActionDirection:
      type: string
      description: Direction of the turn. `middle` is only used by the `keep` action.
      enum:
        - middle
        - right
        - left
    TurnActionSeverity:
      type: string
      description: |
        Tightness of the turn. Optional in the `turn` action, unused by other actions.

        * `light`: indicates making a light turn
        * `quite`: indicates making a regular turn
        * `heavy`: indicates making a heavy turn
      enum:
        - light
        - quite
        - heavy
    Units:
      type: string
      description: "Units of measurement used, for example, in guidance instructions.\
        \ The default is `metric`."
      enum:
        - metric
        - imperial
    Uri:
      type: string
      description: An URL address that links to a particular resource.
      format: uri
      example: https://url.address.com/resource
    WalkAttributes:
      type: string
      description: "Extensible enum: `indoor` `...`  \nWalkAttributes are applied\
        \ to a span of a route section and describe walk-related attribute\nflags.\n\
        \n* `indoor`: This part of the route is located inside a venue.\n"
      x-extensible-enum:
        - indoor
    WheelchairAccessibility:
      type: string
      description: |
        Defines accessibility for people with a disability and who use a wheelchair.

        * `unknown` - Information is not available.
        * `yes` - Full unrestricted accessibility.
        * `limited` - Accessibility is limited, not everywhere or require assistance.
        * `no` - No accessibility.
      example: unknown
      default: unknown
      enum:
        - unknown
        - "yes"
        - limited
        - "no"
    Agency:
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: |
            Unique code of the agency. Specifies if the same agency is used on different sections of the same route.

            **NOTE**: The given ID is only valid within the context of the response it is in.
          example: 49030_dd54cc8
        name:
          type: string
          description: Human readable name of the owner of the transport service.
          example: The Rail Provider
        website:
          description: Link to the agency's website.
          example: http://www.railcompany.com/
          allOf:
            - $ref: '#/components/schemas/Uri'
      description: Contains information about a particular agency.
    BaseAction:
      required:
        - action
        - duration
      type: object
      properties:
        action:
          type: string
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
        duration:
          description: "Estimated duration of this action (in seconds). Actions last\
            \ until the next action, or the end of the route in case of the last one."
          allOf:
            - $ref: '#/components/schemas/Duration'
        instruction:
          type: string
          description: Description of the action (e.g. Turn left onto Minna St.).
      description: An action to be performed between sections or during a section.
    BoardByLocation:
      title: Query departures by Location
      required:
        - in
      type: object
      properties:
        in:
          $ref: '#/components/schemas/InCircle'
        maxPlaces:
          maximum: 50
          minimum: 1
          type: integer
          description: The maximum number of stations the response should include.
          default: 5
    ChargingConnectorAttributes:
      required:
        - connectorType
        - power
        - supplyType
      type: object
      properties:
        power:
          type: number
          description: Power supplied by the suggested connector in kW.
        current:
          type: number
          description: Current of the suggested connector in Amperes.
        voltage:
          type: number
          description: Voltage of the suggested connector in Volts.
        supplyType:
          description: |
            Supply type of the suggested connector.
          allOf:
            - $ref: '#/components/schemas/ChargingSupplyType'
        connectorType:
          description: Suggested connector for charging at this station
          allOf:
            - $ref: '#/components/schemas/ChargingConnectorType'
      description: Details of the connector that is suggested to be used in the section's
        `postAction` for charging.
    HealthResponseFailSchema:
      type: object
      properties:
        status:
          type: string
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          enum:
            - fail
      description: Returns the health of the service
    HealthResponseOKSchema:
      type: object
      properties:
        status:
          type: string
          description: |
            Health status of the service:

            * `ok` - the service is operating normally
            * `fail` - the service is currently encountering a failure
          enum:
            - ok
      description: Returns the health of the service
    Notice:
      required:
        - code
      type: object
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No route found
        code:
          type: string
          description: Notice code.
          example: noRouteFound
        severity:
          $ref: '#/components/schemas/NoticeSeverity'
      description: A notice contains important notifications.
    PedestrianMode:
      type: string
      description: "Extensible enum: `pedestrian` `...`  \nPedestrian mode of transport.\n\
        \nSince the supported pedestrian modes may be extended in the future, the\
        \ pedestrian mode should be hidden when an unknown mode is encountered.\n"
      default: pedestrian
      x-extensible-enum:
        - pedestrian
    PlacesByLocation:
      title: Query stations by Location
      required:
        - in
      type: object
      properties:
        in:
          $ref: '#/components/schemas/InCircle'
        maxPlaces:
          maximum: 50
          minimum: 1
          type: integer
          description: The maximum number of stations/stops included in the response.
          default: 5
        modesInPlace:
          type: string
          description: |
            Format: `mode1,mode2,...`

            Filter the list of stations returned in the response depending on the Transit modes available.

            Stations where at least one of the specified modes exists will get returned.
            By default, all supported transit modes are permitted.

            Supported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`
            `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`
            `flight`

            This parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.
            Mixing of inclusive and exclusive transit modes is not allowed.

            examples:
              * `subway,bus`. Returns only stations having subways and busses.
              * `-subway,-bus`. Returns all stations except the one having just subways or busses.
    TransitIncident:
      required:
        - effect
        - type
      type: object
      properties:
        summary:
          type: string
          description: A human readable summary of the incident
          example: The subway is closed each night between 1 AM and 5 AM.
        description:
          type: string
          description: A human readable description of the incident
          example: The subway is closed each night between 1 AM and 5 AM while we
            clean our trains and stations. We are running extra bus service overnight.
        type:
          $ref: '#/components/schemas/TransitIncidentType'
        effect:
          $ref: '#/components/schemas/TransitIncidentEffect'
        validFrom:
          $ref: '#/components/schemas/Time'
        validUntil:
          $ref: '#/components/schemas/Time'
        url:
          description: Link to the original incident published at the agency website
          allOf:
            - $ref: '#/components/schemas/Uri'
      description: |
        An incident describes disruptions on the transit network.
        Disruptions scale from delays to service cancellations.
      example:
        summary: The subway is closed each night between 1 AM and 5 AM.
        description: The subway is closed each night between 1 AM and 5 AM while we
          clean our trains and stations. We are running extra bus service overnight.
        type: maintenance
        effect: modifiedService
    TransitMode:
      title: Modes
      type: string
      description: "Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain`\
        \ `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus`\
        \ `inclined` `aerial` `busRapid` `monorail` `flight` `...`  \nTransit mode\
        \ of transport in the route response\n"
      example: intercityTrain
      x-extensible-enum:
        - highSpeedTrain
        - intercityTrain
        - interRegionalTrain
        - regionalTrain
        - cityTrain
        - bus
        - ferry
        - subway
        - lightRail
        - privateBus
        - inclined
        - aerial
        - busRapid
        - monorail
        - flight
    TravelSummary:
      required:
        - duration
        - length
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        length:
          $ref: '#/components/schemas/Distance'
      description: Total value of key attributes for a route section.
    VersionResponse:
      required:
        - apiVersion
      type: object
      properties:
        apiVersion:
          type: string
          description: The current version of the API.
          example: 8.18.0
        serviceVersion:
          type: string
          description: The current version of the service.
          example: 2022-12-15-b706cc8c-9057409
        dataVersions:
          type: array
          description: Returns the versions of data sets used by the service.
          items:
            $ref: '#/components/schemas/DataVersion'
      description: Returns the versions of the service components.
    Attribution:
      required:
        - id
        - text
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the web link. It is used to deduplicate
            links defined in multiple sections.
        href:
          $ref: '#/components/schemas/Uri'
        text:
          type: string
          description: Text describing the url address (e.g. The example website).
        hrefText:
          type: string
          description: |
            The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.
        type:
          $ref: '#/components/schemas/AttributionLinkType'
      description: The URL address to an external resource.
      example:
        id: 88-7568-21.07.2023
        text: Information for public transit provided by ThePublicTransit GmbH
    BaseRoutablePlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Location name
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        waypoint:
          type: integer
          description: "If present, this place corresponds to the waypoint in the\
            \ request with the same index."
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    BoardAction:
      required:
        - action
        - duration
      type: object
      properties:
        action:
          type: string
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          enum:
            - board
        duration:
          description: "Estimated duration of this action (in seconds). Actions last\
            \ until the next action, or the end of the route in case of the last one."
          allOf:
            - $ref: '#/components/schemas/Duration'
        instruction:
          type: string
          description: Description of the action (e.g. Turn left onto Minna St.).
      description: An action to board a ferry.
    DeboardAction:
      required:
        - action
        - duration
      type: object
      properties:
        action:
          type: string
          description: |
            The type of the action.

            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.
          enum:
            - deboard
        duration:
          description: "Estimated duration of this action (in seconds). Actions last\
            \ until the next action, or the end of the route in case of the last one."
          allOf:
            - $ref: '#/components/schemas/Duration'
        instruction:
          type: string
          description: Description of the action (e.g. Turn left onto Minna St.).
      description: An action to disembark a ferry.
    PedestrianNotice:
      required:
        - code
      type: object
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: Violated avoid tunnel
        code:
          type: string
          description: "Extensible enum: `simplePolyline` `pedestrianOptionViolated`\
            \ `violatedAvoidTunnel` `violatedAvoidDirtRoad` `violatedBlockedRoad`\
            \ `...`  \nCurrently known codes (non-exhaustive: this list could be extended\
            \ for new situations):\n\n| Code      | Description  | Severity |\n| ---------\
            \ | ------- | ------- |\n| simplePolyline | An accurate polyline is not\
            \ available for this section. The returned polyline has been generated\
            \ from departure and arrival places | info |\n| pedestrianOptionViolated\
            \ | This section violates the parameter `pedestrian[speed]` or `pedestrian[maxDistance]`\
            \ | critical |\n| violatedAvoidTunnel | Route did not manage to avoid\
            \ user preference | critical |\n| violatedAvoidDirtRoad | Route did not\
            \ manage to avoid user preference | critical |\n| violatedBlockedRoad\
            \ | Route uses roads that are blocked due to `avoid[areas]` or `avoid[segments]`.\
            \ | critical |\n"
          example: violatedAvoidTunnel
          x-extensible-enum:
            - simplePolyline
            - pedestrianOptionViolated
            - violatedAvoidTunnel
            - violatedAvoidDirtRoad
            - violatedBlockedRoad
        severity:
          $ref: '#/components/schemas/NoticeSeverity'
      description: A notice contains important notifications.
    PedestrianSpan:
      properties:
        offset:
          minimum: 0
          type: integer
          description: |
            Offset of a coordinate in the section's polyline.
          format: int32
        length:
          description: |
            Length of the span.
          allOf:
            - $ref: '#/components/schemas/Distance'
        duration:
          description: Duration of the span.
          allOf:
            - $ref: '#/components/schemas/Duration'
        walkAttributes:
          type: array
          description: |
            Accessibility and walk-related attribute flags.

            * `indoor`: This part of the route is inside a venue.

            As it is possible that new attributes are supported in the future, unknown attributes should be ignored.
          example:
            - indoor
          items:
            $ref: '#/components/schemas/WalkAttributes'
      description: |
        Span attached to a `Section` describing pedestrian content.
    PedestrianTransport:
      required:
        - mode
      properties:
        mode:
          $ref: '#/components/schemas/PedestrianMode'
      description: Information about a transport.
    PlacesByName:
      title: Query stations by Name and Location
      required:
        - in
        - name
      type: object
      properties:
        name:
          type: string
          description: |
            The station name or part of the name to search for.
            It is composed of one or more space separated words.
        method:
          type: string
          description: |
            Specifies if the match is `fuzzy` or `strict`.
            The default value is fuzzy.

            `fuzzy` - search for a station with the name similar to one of the names requested
            `strict` - search for a station with the name exactly matching one of the names requested or containing it as a part

            For example, if the station name in the request is "maurer", then if the method is `fuzzy` the response
            contains "AMBOY AVE AT MAURER RD" and "LAUREL HILL BL/48 ST". If the method is `strict`
            the response contains "AMBOY AVE AT MAURER RD" but not "LAUREL HILL BL/48 ST".
          enum:
            - fuzzy
            - strict
        maxPlaces:
          maximum: 25
          minimum: 1
          type: integer
          description: The maximum number of stations/stops included in the response.
          default: 5
        in:
          $ref: '#/components/schemas/InCircle'
        modesInPlace:
          type: string
          description: |
            Format: `mode1,mode2,...`

            Filter the list of stations returned in the response depending on the Transit modes available.

            Stations where at least one of the specified modes exists will get returned.
            By default, all supported transit modes are permitted.

            Supported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`
            `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`
            `flight`

            This parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.
            Mixing of inclusive and exclusive transit modes is not allowed.

            examples:
              * `subway,bus`. Returns only stations having subways and busses.
              * `-subway,-bus`. Returns all stations except the one having just subways or busses.
    RangePrice:
      required:
        - currency
        - maximum
        - minimum
        - type
      type: object
      properties:
        type:
          type: string
          description: |
            Type of price represented by this object. The API customer is responsible for correctly visualizing
            the pricing model. As it is possible to extend the supported price types in the future,
            the price information should be hidden when an unknown type is encountered.

            Available price types are:

              * `value` - A single value.
              * `range` - A range value that includes a minimum and maximum price.
        estimated:
          type: boolean
          description: "Attribute value is `true` if the fare price is estimated,\
            \ `false` if it is an exact value."
          default: false
        currency:
          type: string
          description: Local currency of the price compliant to ISO 4217
        unit:
          description: |
            When set, the price is paid for a specific duration.

            Examples:
              * `"unit": 3600` - price for one hour
              * `"unit": 28800` - price for 8 hours
              * `"unit": 86400` - price for one day
          allOf:
            - $ref: '#/components/schemas/Duration'
        minimum:
          type: number
          description: Minimum price
        maximum:
          type: number
          description: Maximum price
    SinglePrice:
      required:
        - currency
        - type
        - value
      type: object
      properties:
        type:
          type: string
          description: |
            Type of price represented by this object. The API customer is responsible for correctly visualizing
            the pricing model. As it is possible to extend the supported price types in the future,
            the price information should be hidden when an unknown type is encountered.

            Available price types are:

              * `value` - A single value.
              * `range` - A range value that includes a minimum and maximum price.
        estimated:
          type: boolean
          description: "Attribute value is `true` if the fare price is estimated,\
            \ `false` if it is an exact value."
          default: false
        currency:
          type: string
          description: Local currency of the price compliant to ISO 4217
        unit:
          description: |
            When set, the price is paid for a specific duration.

            Examples:
              * `"unit": 3600` - price for one hour
              * `"unit": 28800` - price for 8 hours
              * `"unit": 86400` - price for one day
          allOf:
            - $ref: '#/components/schemas/Duration'
        value:
          type: number
          description: The price value
    StationSearchPlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Location name
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        id:
          type: string
          description: |
            Identifier of this station.

            **NOTE**: The given ID is only valid within the context of the response it is in.
          example: "110543003"
        platform:
          type: string
          description: Platform name or number for the departure.
          example: "1"
        code:
          type: string
          description: Short text or a number that identifies the place for riders.
          example: "74370"
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - There exists some accessible path from outside the station to the specific stop/platform.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - There exists no accessible path from outside the station to the specific stop/platform.
          allOf:
            - $ref: '#/components/schemas/WheelchairAccessibility'
      description: A station
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    TransitAgency:
      required:
        - id
        - name
      properties:
        id:
          type: string
          description: |
            Unique code of the agency. Specifies if the same agency is used on different sections of the same route.

            **NOTE**: The given ID is only valid within the context of the response it is in.
          example: 49030_dd54cc8
        name:
          type: string
          description: Human readable name of the owner of the transport service.
          example: The Rail Provider
        website:
          description: Link to the agency's website.
          example: http://www.railcompany.com/
          allOf:
            - $ref: '#/components/schemas/Uri'
        sourceFeedMapping:
          type: array
          description: |
            List of source feeds that shows the original feed data. The item keys
            can be repeated if the original data has multiple mappings for the same ID.

            For this instance, only `agencyId` and `feedVersion` are valid values for `type`. No other values will be returned in this scope.
          items:
            $ref: '#/components/schemas/SourceFeedMapping'
      description: Contains information about a particular agency.
    TransitModesFilterItem:
      oneOf:
        - $ref: '#/components/schemas/TransitMode'
        - $ref: '#/components/schemas/TransitModeExcluded'
    TransitNotice:
      required:
        - code
      type: object
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No schedule
        code:
          type: string
          description: "Extensible enum: `noSchedule` `noIntermediate` `unwantedMode`\
            \ `scheduledTimes` `simplePolyline` `violatedAvoidFerry` `violatedAvoidRailFerry`\
            \ `...`  \nCurrently known codes (non-exhaustive: this list could be extended\
            \ for new situations):\n\n| Code      | Description  | Severity |\n| ---------\
            \ | ------- | ------- |\n| noSchedule | A timetable schedule is not available\
            \ for the transit line in this section, and only the run frequency is\
            \ available. As a result, departure/arrival times are approximated | info\
            \ |\n| noIntermediate | Information about intermediate stops is not available\
            \ for this transit line | info |\n| unwantedMode | This section contains\
            \ a transport mode that was explicitly disabled. Mode filtering is not\
            \ available in this area | info |\n| scheduledTimes | The times returned\
            \ on this section are the scheduled times even though delay information\
            \ are available | info |\n| simplePolyline | An accurate polyline is not\
            \ available for this section. The returned polyline has been generated\
            \ from departure and arrival places | info |\n| violatedAvoidFerry | Route\
            \ did not manage to avoid user preference | critical |\n| violatedAvoidRailFerry\
            \ | Route did not manage to avoid user preference | critical |\n"
          example: noSchedule
          x-extensible-enum:
            - noSchedule
            - noIntermediate
            - unwantedMode
            - scheduledTimes
            - simplePolyline
            - violatedAvoidFerry
            - violatedAvoidRailFerry
        severity:
          $ref: '#/components/schemas/NoticeSeverity'
      description: A notice contains important notifications.
    TransitTransport:
      required:
        - mode
      properties:
        mode:
          $ref: '#/components/schemas/TransitMode'
        name:
          type: string
          description: Transit line name
          example: U2
        headsign:
          type: string
          description: Transit line headsign.
          example: "Cottbus, Hauptbahnhof"
        category:
          type: string
          description: "Human readable transport category (such as Bus, Gondola, Tram,\
            \ Train, ...)."
          example: Railway Service
        color:
          description: Color of the transport polyline and background for the transport
            name.
          allOf:
            - $ref: '#/components/schemas/Color'
        textColor:
          description: Color of the transport name.
          allOf:
            - $ref: '#/components/schemas/Color'
        shortName:
          type: string
          description: Short name of a transit line.
          example: U2
        longName:
          type: string
          description: Long name of a transit line.
          example: Pankow - Ruhleben
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - Vehicle can accommodate at least one rider in a wheelchair.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - No riders in wheelchairs can be accommodated.
          allOf:
            - $ref: '#/components/schemas/WheelchairAccessibility'
        sourceFeedMapping:
          type: array
          description: |
            List of source feeds that shows the original feed data. The item keys
            can be repeated if the original data has multiple mappings for the same ID.

            For this instance, only `routeId` and `tripId` are valid values for `type`. No other values will be returned in this scope.
          items:
            $ref: '#/components/schemas/SourceFeedMapping'
      description: Transit transport information.
    WebLinkWithDeviceType:
      required:
        - id
        - text
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the web link. It is used to deduplicate
            links defined in multiple sections.
        href:
          $ref: '#/components/schemas/Uri'
        text:
          type: string
          description: Text describing the url address (e.g. The example website).
        hrefText:
          type: string
          description: |
            The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.
        deviceType:
          type: string
          description: "Extensible enum: `web` `ios` `android` `...`  \nDevice type\
            \ for which the link is intended.\n"
          example: web
          x-extensible-enum:
            - web
            - ios
            - android
      description: The URL address to an external resource.
      example:
        id: 88-7568-21.07.2023
        text: Information for public transit provided by ThePublicTransit GmbH
    AccessPointPlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Location name
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        waypoint:
          type: integer
          description: "If present, this place corresponds to the waypoint in the\
            \ request with the same index."
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - Access point is wheelchair accessible.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - No accessible path from the access point to platforms.
          allOf:
            - $ref: '#/components/schemas/WheelchairAccessibility'
      description: Access point to a venue/station
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    BaseDepartureDetails:
      required:
        - time
      properties:
        time:
          description: "Expected time of the departure of the event. Format is **RFC\
            \ 3339**, section 5.6 as defined by `date-time`."
          allOf:
            - $ref: '#/components/schemas/Time'
        delay:
          $ref: '#/components/schemas/DepartureDelay'
        status:
          $ref: '#/components/schemas/DepartureStatus'
        platform:
          $ref: '#/components/schemas/DeparturePlatform'
        transport:
          allOf:
            - $ref: '#/components/schemas/TransitTransport'
      description: Defines a departure where the departure stop is implicit (e.g.
        station board departures).
    ChargingStationPlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Human readable name of this charging station
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        waypoint:
          type: integer
          description: "If present, this place corresponds to the waypoint in the\
            \ request with the same index."
        id:
          type: string
          description: Identifier of this charging station
        connectorAttributes:
          $ref: '#/components/schemas/ChargingConnectorAttributes'
        brand:
          $ref: '#/components/schemas/ChargingStationBrand'
      description: A charging station
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    DockingStationPlace:
      description: A place represents a docking station for rented vehicles.
      allOf:
        - $ref: '#/components/schemas/BaseRoutablePlace'
    FarePrice:
      description: Price of a fare
      discriminator:
        propertyName: type
        mapping:
          value: '#/components/schemas/SinglePrice'
          range: '#/components/schemas/RangePrice'
      oneOf:
        - $ref: '#/components/schemas/SinglePrice'
        - $ref: '#/components/schemas/RangePrice'
    Place:
      description: A place represents a generic location relevant for the route.
      allOf:
        - $ref: '#/components/schemas/BaseRoutablePlace'
    StationOptions:
      type: object
      oneOf:
        - $ref: '#/components/schemas/PlacesByIds'
        - $ref: '#/components/schemas/PlacesByLocation'
        - $ref: '#/components/schemas/PlacesByName'
    StationPlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Location name
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        waypoint:
          type: integer
          description: "If present, this place corresponds to the waypoint in the\
            \ request with the same index."
        id:
          type: string
          description: |
            Identifier of this station.

            **NOTE**: The given ID is only valid within the context of the response it is in.
          example: "110543003"
        platform:
          type: string
          description: Platform name or number for the departure.
          example: "1"
        code:
          type: string
          description: Short text or a number that identifies the place for riders.
          example: "74370"
        wheelchairAccessible:
          description: |
            Information about accessibility for people with a disability and who use a wheelchair.

            * `unknown` - Accessibility information is not available.
            * `yes` - There exists some accessible path from outside the station to the specific stop/platform.
            * `limited` - Accessibility is limited or assistance is required.
            * `no` - There exists no accessible path from outside the station to the specific stop/platform.
          allOf:
            - $ref: '#/components/schemas/WheelchairAccessibility'
      description: A station
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    TimeRestrictedPrice:
      required:
        - currency
        - type
        - value
      type: object
      properties:
        type:
          type: string
          description: |
            Type of price represented by this object. The API customer is responsible for correctly visualizing
            the pricing model. As it is possible to extend the supported price types in the future,
            the price information should be hidden when an unknown type is encountered.

            Available price types are:

              * `restricted` - A single price value valid for a specific time or duration
        estimated:
          type: boolean
          description: "Attribute value is `true` if the fare price is estimated,\
            \ `false` if it is an exact value."
          default: false
        currency:
          type: string
          description: Local currency of the price compliant to ISO 4217
        unit:
          description: |
            When set, the price is paid for a specific duration.

            Examples:
              * `"unit": 3600` - price for one hour
              * `"unit": 28800` - price for 8 hours
              * `"unit": 86400` - price for one day
          allOf:
            - $ref: '#/components/schemas/Duration'
        value:
          type: number
          description: The price value
        days:
          type: array
          description: This price applies only for the selected days
          example:
            - sa
            - su
          items:
            $ref: '#/components/schemas/TimeRestrictedWeekdays'
        minDuration:
          description: The price applies if the duration is more or equal to `minDuration`
          example: 1801
          allOf:
            - $ref: '#/components/schemas/Duration'
        maxDuration:
          description: The price applies if the duration is less or equal to `maxDuration`
          example: 3600
          allOf:
            - $ref: '#/components/schemas/Duration'
        fromTime:
          description: The price applies from this time of the day
          allOf:
            - $ref: '#/components/schemas/PartialTime'
        toTime:
          description: The price applies until this time of the day
          allOf:
            - $ref: '#/components/schemas/PartialTime'
    TransitModesFilter:
      uniqueItems: true
      type: array
      description: |
        Transit type filter used to determine which types of transit to include in the response. By default, all supported transit types are permitted. Mixing of inclusive and exclusive transit types is not allowed.
      items:
        $ref: '#/components/schemas/TransitModesFilterItem'
    TransitPostAction:
      discriminator:
        propertyName: action
        mapping:
          deboard: '#/components/schemas/DeboardAction'
      oneOf:
        - $ref: '#/components/schemas/DeboardAction'
    TransitPreAction:
      description: An action that must be done prior to `departure`.
      discriminator:
        propertyName: action
        mapping:
          board: '#/components/schemas/BoardAction'
      oneOf:
        - $ref: '#/components/schemas/BoardAction'
    DepartureDetails:
      required:
        - transport
      properties:
        time:
          description: "Expected time of the departure of the event. Format is **RFC\
            \ 3339**, section 5.6 as defined by `date-time`."
          allOf:
            - $ref: '#/components/schemas/Time'
        delay:
          $ref: '#/components/schemas/DepartureDelay'
        status:
          $ref: '#/components/schemas/DepartureStatus'
        platform:
          $ref: '#/components/schemas/DeparturePlatform'
        transport:
          allOf:
            - $ref: '#/components/schemas/TransitTransport'
        agency:
          $ref: '#/components/schemas/Agency'
      description: Defines a departure where the departure stop is implicit (e.g.
        station board departures).
    Fare:
      required:
        - id
        - name
        - price
      properties:
        id:
          type: string
          description: Unique Fare id. Used to deduplicate fares that apply to multiple
            sections
          example: carrideco-1753076078174759852-1749341260512683512
        name:
          type: string
          description: Name of a fare
          example: Carride Company
        price:
          $ref: '#/components/schemas/FarePrice'
        reason:
          type: string
          description: "Extensible enum: `ride` `parking` `...`  \nReason for the\
            \ cost described in this `Fare` element.\n"
          default: ride
          x-extensible-enum:
            - ride
            - parking
      description: |
        "`Fare` type contains information about a single fare or ticket needed for this section of the route."

        **NOTE**: Fares information support will be available soon.
    ParkingLotPlace:
      required:
        - location
        - type
      properties:
        name:
          type: string
          description: Location name
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          type: string
          description: |
            Place type. Each place type can have extra attributes.

            **NOTE:** The list of possible place types could be extended in the future.
            The client application is expected to handle such a case gracefully.
        location:
          description: |
            The position of this location

            This position was used in route calculation. It may be different to the original position provided in the request.
          allOf:
            - $ref: '#/components/schemas/Location'
        waypoint:
          type: integer
          description: "If present, this place corresponds to the waypoint in the\
            \ request with the same index."
        id:
          type: string
          description: Identifier of this parking lot
        attributes:
          type: array
          description: Attributes of a parking lot.
          items:
            $ref: '#/components/schemas/ParkingLotPlaceType'
        rates:
          type: array
          description: |
            List of possible parking rates for this facility. Different rates can apply depending on the day, time of the day or parking duration.
          items:
            $ref: '#/components/schemas/TimeRestrictedPrice'
      description: A parking lot
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    StationInfo:
      required:
        - place
      properties:
        notices:
          type: array
          description: |
            Contains a list of issues related to this station.

            Follows a list of possible notice codes:

            * `noDepartureInfo`: Departure information is unavailable or inaccurate for this station/stop.
          items:
            $ref: '#/components/schemas/Notice'
        place:
          description: Information about a station or stop.
          allOf:
            - $ref: '#/components/schemas/StationSearchPlace'
        transports:
          type: array
          description: A list of transit services.
          items:
            $ref: '#/components/schemas/TransitTransport'
        accessPoints:
          type: array
          description: A list of access points
          items:
            $ref: '#/components/schemas/AccessPointPlace'
      description: It contains transit service information for this station.
    TransitDeparture:
      required:
        - place
      properties:
        time:
          description: "Expected time of departure of the event. Format is **RFC 3339**,\
            \ section 5.6 as defined by `date-time`."
          allOf:
            - $ref: '#/components/schemas/Time'
        place:
[...]
